<head>

  <style>

      @import url('https://fonts.googleapis.com/css?family=Merriweather');
          h1{
	    color:#B22222;
	    font-family: 'Merriweather', serif;
          }
           #div02{
	    font-family: 'Merriweather', serif;
	    color:black;
	  }

  </style>

</head>


<body bgcolor='#f2f2f2'>

    <% provide(:title, 'Lista preferiti') %>
    <h1> Lista preferiti: </h1>

	<ul class="preferiti">
	  <% @favorite.each do |s| %>
	    <div id='div02'>
	      <li><%= render s %></li>
	    </div>

	  <% end %>
	</ul>


</body>
